.footer {
    background-color: 
#303030;
    padding: 15px 0;
    text-align: center;
    font-style: italic;
    width: 100%;
    position: relative;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}